@import "../../../style/variables.scss";
.offCanvas {
  background-image: linear-gradient($gradient-color-1, #707070);

  li {
    margin-bottom: 1em;
  }
}

.header {
  color: white;

  button {
    color: white;
  }
}
$iconSize: 1.5em;
.btn {
  position: relative;
  width: $iconSize;
  height: $iconSize;
  margin-right: 0.5em;
  background-color: inherit;
  color: inherit;
  padding: 0;
  text-decoration: none;
  border: 0;
  & svg {
    border-radius: 100%;
    width: 100%;
    height: 100%;
  }
  & svg:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 14px $grey-5;
  }
}
.friendsIcon {
  font-size: 1em;
  background-color: $grey-1;
  padding: 4px;
  color: #7d7d7d;
}
.avatar {
  width: 2.3em;
  border-radius: 99px;
  margin-right: 1em;
}
.messages {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
