@import "../../style/variables.scss";

.btn {
  color: $grey-2;
  border: 1px solid $box-border-colors;
  border-radius: 3px;
  margin: 0.5em;
  white-space: nowrap;
  &:hover {
    transform: scale(0.95);
  }
}

.accept {
  background-color: $accept-color;
}

.decline {
  background-color: $decline-color;
}

.add {
  background-color: $pending-color;
}
