@import "../../../../../style/variables.scss";
.UserBookCardSm {
  &__container {
    border: 1px solid $box-border-colors;
    border-radius: 5px;
    width: 10em;
    height: 15.25em;
    margin: 0px auto;
    box-shadow: $standard-box-shadow;
    background-color: #f5f5f5;
  }
  &__img {
    margin: 2% auto;
    width: 9em;
    height: 12em;
    img {
      height: 12.3em;
      width: 9em;
    }
  }
  &__info {
    display: flex;
    flex-direction: row;
  }
  &__avatar {
    width: 2em;
    border-radius: 1em;
    margin: 5% 3%;
  }
  &__progress {
    height: 18%;
  }

  &__menu {
    margin-left: 10%;
    margin-top: 5%;
  }
}
