@import "../../../style/variables.scss";

.navLink {
  color: $grey-3;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: $grey-1;
    text-decoration: underline;
  }
}

.navLink_active {
  color: $grey-1;
  @include active-link;
  border-bottom: none;
  &:hover {
    color: $grey-1;
  }
}

.messages {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  color: inherit; // This is already there but not working because buttons don't inherit by default
  text-decoration: none;
  cursor: pointer;

  &.navLink {
    // Add this to ensure the button gets the same color as other nav links
    color: $grey-3;
    &:hover {
      color: $grey-1;
    }
  }
}
