@import "../../../style/variables.scss";

.container {
  position: relative;
  box-shadow: $standard-box-shadow;
  margin: 0 auto;
  width: 9em;
  height: 14em;
}
.icon {
  position: absolute;
  right: 5%;
  top: -3%;
}
.img {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0.25em;
}
