@use "../../../../style/variables.scss" as global;

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  padding: 0 0.5em;
  position: relative;
  box-shadow: global.$standard-box-shadow;
}

.username {
  margin-left: 0.5em;
}
@mixin icon {
  white-space: nowrap;
  margin-right: 0.5em;
  font-size: 0.98em;
}
.pendingIcon {
  color: global.$grey-5;
  @include icon;
}
.friendIcon {
  color: global.$accept-color;
  @include icon;
}
