@import "../../style/variables.scss";

.Library {
  &__title {
    padding: 1em 0;
    &__container {
      border-bottom: 1px solid $box-border-colors;
    }
  }

  &__subtitle {
    padding: 1em 0;
  }

  &__section1 {
    border-bottom: 1px solid $box-border-colors;
    margin-bottom: 1em;
    min-height: 520px;
  }
}
