// .btn-nostyle {
//   border: none;
//   background-color: inherit;
// }
// .dropdown-menu[data-bs-popper] {
//   left: -5.2em;
//   top: 2.75em;
// }

.SearchBar {
  &-form-border {
    border: 1px solid #cfcfcf;
  }
}
.Navbar {
  &-search-input {
    width: 65vw;
    @media (min-width: 576px) {
      width: 50vw;
    }
  }
}
