@import "../../style/variables.scss";
.SearchBar {
  &__form__border {
    border: 1px solid #cfcfcf;
  }
}
.Navbar {
  &__search__input {
    width: 65vw;
    @media (min-width: 576px) {
      width: 50vw;
    }
  }
  &__custom {
    background-image: linear-gradient($gradient-color-1, #ababab);
    z-index: 2;
  }
}
