.SearchBar {
  &-form-border {
    border: 1px solid #cfcfcf;
  }
}
.Navbar {
  &-search-input {
    width: 65vw;
    @media (min-width: 576px) {
      width: 50vw;
    }
  }
  &-li-border li {
    border-bottom: solid lightgrey 1px;
  }
}
