@import "../../style/variables.scss";

.searchInput {
  width: 65vw;
  @media (min-width: 576px) {
    width: 50vw;
  }
}
.navbar {
  background-image: linear-gradient($gradient-color-1, #ababab);
  z-index: 2;
  box-shadow: 1px 1px 3px #6e6e6e;
}

.nav {
  text-align: center;
  width: 100%;
  justify-content: flex-end;
  @media (min-width: 992px) {
    margin-right: 1em;
  }
}

.inline {
  margin-right: 1em;
}
