@import "./variables.scss";

.wrapper {
  background-color: $grey-2;
}
.container {
  min-height: 100vh;
}
body {
  font-family: $paragraph-font;
}
h6,
h5,
h4,
h3,
h2,
h1 {
  font-family: $heading-font;
  font-weight: 600;
}
