@import url("https://fonts.googleapis.com/css2?family=Nixie+One&family=Prompt:wght@200&display=swap");
//colors
$grey-1: #f4f4f4;
$grey-2: #ececec;
$grey-3: #e4e4e4;
$grey-4: #dbdcdc;
$grey-5: #d3d4d3;
$grey-6: #cbcccb;
$grey-7: #c3c4c3;
$grey-8: #babcbb;
$grey-9: #b2b4b3;
$grey-10: #aaacaa;

$accept-color: #2c485a;
$decline-color: rgb(107, 26, 26);
$pending-color: #99742599;

$box-border-colors: #d7d7d7;
$box-color: #e7f3f5;
$shadow-color: $grey-6;
$box-shadow-sharp: #6e6e6e;
//#adadad
//gradient color
$gradient-color-1: #2e2e2e;
$gradient-color-2: $grey-1;

//font color
$dark-background-font-color: #f3f3f3;
$title-color: #717171;

//font families
$heading-font: "Nixie One", cursive;
$paragraph-font: "Prompt", sans-serif;

//misc
$standard-box-shadow: 1px 1px 5px $shadow-color;

//mixins
@mixin active-link {
  border-bottom: solid 1px $grey-1;
  filter: drop-shadow(2px 3px 13px $grey-1);
  //   transform: scale(0.98);
}
