@use "../../../style/variables.scss";

.container {
}
.title {
  border-bottom: 1px solid variables.$box-border-colors;
  color: variables.$title-color;
  h1 {
    padding: 1em 0;
  }
}

.card {
  margin-bottom: 0.5em;
}

.subtitle {
  padding: 1em 0;
  color: variables.$title-color;
}

.section {
  position: relative;
  margin: 0 0.25em 1em;
  min-height: 520px;
  background-color: variables.$grey-1;
  padding: 1em;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 40%);
}

//card badge icon styles
.requestSentIcon {
  background-color: transparent;
  // color: #987311;
  color: #310fc9;
  border-radius: 100%;
  box-shadow: 2px 2px 15px black;
  padding: 0;
  border: 1px solid variables.$title-color;
  font-size: 1.5em;
  // font-size: 1.5em;
}
