@import "../../../../../style/variables.scss";

.statsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.statItem {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  background-color: $box-color;
  border-radius: 5px;
  box-shadow: $standard-box-shadow;
}

.statLabel {
  color: $secondary-color;
  font-size: 0.9rem;
}

.statValue {
  font-size: 1.2rem;
  font-weight: 600;
  color: $dark-accent;
}
