@use "../../../../style/variables.scss";

$border: 1px solid variables.$box-border-colors;

.container {
  width: 100%;
  padding: 0.1em 0.5em;
  // margin: 0.3em auto;
  position: relative;
  // max-width: 40em;
  display: flex;
  flex-direction: row;
  background-color: variables.$grey-2;
  align-items: center;
  border-bottom: $border;
  box-shadow: variables.$sharp-box-shadow;

  &:hover {
    box-shadow: inset variables.$standard-box-shadow;
  }
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content {
  width: 100%;
}
.avatar {
  padding: 0.5em 1em 0.5em 0;
}
.img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.username {
  // margin-left: 0.5em;
}

.children {
}

.isActive {
  background-color: #c0b8b8;
}
.btn {
  border: 1px solid variables.$box-border-colors;
  border-radius: 3px;
  margin-left: 0.5em;
}
